<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Path/MyFramework">
        <classes>
            <class name="AlertBoxExamples.AlertBoxExamplePageTest">
                <methods>
                    <include name="testAlertBox"/>
                    <include name="testConfirmBoxPositive"/>
                    <include name="testConfirmBoxNegative"/>
                </methods>
            </class>
            <class name="Calculator.CalculatorPageTest">
                <methods>
                    <include name="sumCalculator"/>
                    <include name="minusCalculator"/>
                    <include name="timesCalculator"/>
                    <include name="divideCalculator"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>